<script src="/javascripts/toggle-navbar.js"></script>
<style>
  .collapse {
    display: none;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
</style>

<!-- Sidebar -->
<div class="bg-white p-6 rounded-lg shadow-lg">
  <ul class="space-y-3">
    <!-- Menu Home -->
    <li>
      <a
        id="homeMenu"
        class="text-green-600 hover:text-blue-600 cursor-pointer block transition-colors duration-300"
        href="homedosen"
        onclick="setActiveMenu('homeMenu')"
      >
        Home
      </a>
    </li>
    <li>
      <a
        class="text-green-600 hover:text-blue-600 cursor-pointer block transition-colors duration-300"
        href="#"
        onclick="toggleMenu('submenu1')"
      >
        <span
          class="inline-block transform rotate-0 transition-transform duration-300"
          id="arrow1"
          >▼</span
        >
        Manajemen Topik Tugas Akhir
      </a>
      <ul id="submenu1" class="collapse pl-5 space-y-2">
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Sistem Approval Dosen Pembimbing</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Daftar Mahasiswa Seminar</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        class="text-green-600 hover:text-blue-600 cursor-pointer block transition-colors duration-300"
        href="#"
        onclick="toggleMenu('submenu2')"
      >
        <span
          class="inline-block transform rotate-0 transition-transform duration-300"
          id="arrow2"
          >▼</span
        >
        Pengelolaan Proyek Tugas Akhir
      </a>
      <ul id="submenu2" class="collapse pl-5 space-y-2">
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer" href="proposalta"
            >Proposal TA</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Boooking Sesi Konsultasi Dosen</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Pencatatan Riwayat Konsultasi</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Feedback Dosen Setelah Seminar</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Upload Draft Sidang Akhir</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
          href="/sidang/pemberian-nilai"
            >Pemberian Nilai Pada Laporan TA</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer" href="/laporankemajuan"
            >Laporan Kemajuan TA</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        class="text-green-600 hover:text-blue-600 cursor-pointer block transition-colors duration-300"
        href="#"
        onclick="toggleMenu('submenu3')"
      >
        <span
          class="inline-block transform rotate-0 transition-transform duration-300"
          id="arrow3"
          >▼</span
        >
        Konsultasi dan Revisi
      </a>
      <ul id="submenu3" class="collapse pl-5 space-y-2">
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Manajemen Konsultasi Dosen</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Feedback Setelah Konsultasi</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer" href="revisilaporan"
            >Revisi Laporan TA Mahasiswa</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
