<script src="/javascripts/toggle-navbar.js"></script>
<style>
  .collapse {
    display: none;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
</style>

<!-- Sidebar -->
<div class="bg-white p-6 rounded-lg shadow-lg">
  <ul class="space-y-3">
    <!-- Menu Home -->
    <li>
      <a
        id="homeMenu"
        class="text-green-600 hover:text-blue-600 cursor-pointer block transition-colors duration-300"
        href="homeadmin"
        onclick="setActiveMenu('homeMenu')"
        >Home</a
      >
    </li>
    <li>
      <a
        class="text-green-600 hover:text-blue-600 cursor-pointer block transition-colors duration-300"
        href="#"
        onclick="toggleMenu('submenu1','arrow1')"
      >
        <span
          class="inline-block transform rotate-0 transition-transform duration-300"
          id="arrow1"
          >▼</span
        >
        Manajemen Topik Tugas Akhir
      </a>
      <ul id="submenu1" class="collapse pl-5 space-y-2">
        <li>
          <a
            class="text-green-600 hover:text-blue-600 cursor-pointer"
            href="daftartopikta"
            >Daftar topik TA</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer" href="daftartopiktersedia"
            >Daftar Topik TA Yang Tersedia</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Pencatatan Riwayat Konsultasi</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer" 
            >Validasi Dokumen Oleh Jurusan</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Galeri Judul TA Yang Selesai </a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        class="text-green-600 hover:text-blue-600 cursor-pointer block transition-colors duration-300"
        href="#"
        onclick="toggleMenu('submenu2','arrow2')"
      >
        <span
          class="inline-block transform rotate-0 transition-transform duration-300"
          id="arrow2"
          >▼</span
        >
        Pengelolaan Proyek Tugas Akhir
      </a>
      <ul id="submenu2" class="collapse pl-5 space-y-2">
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer" href="bebandosen"
            >Monitoring Beban Dosen</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Status Revisi</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Riwayat Konsultas</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        class="text-green-600 hover:text-blue-600 cursor-pointer block transition-colors duration-300"
        href="#"
        onclick="toggleMenu('submenu3','arrow3')"
      >
        <span
          class="inline-block transform rotate-0 transition-transform duration-300"
          id="arrow3"
          >▼</span
        >
        Manajemen Jadwal
      </a>
      <ul id="submenu3" class="collapse pl-5 space-y-2">
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Manajemen Jadwal Sidang Dan Seminar</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
            >Kalender Sidang TA</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        class="text-green-600 hover:text-blue-600 cursor-pointer block transition-colors duration-300"
        href="#"
        onclick="toggleMenu('submenu4','arrow4')"
      >
        <span
          class="inline-block transform rotate-0 transition-transform duration-300"
          id="arrow4"
          >▼</span
        >
        Pengaturan Sistem Dan Manajemen Pengguna
      </a>
      <ul id="submenu4" class="collapse pl-5 space-y-2">
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
          href="/monitoring-beban-dosen"
            >Manajemen Jumlah Mahasiswa Dosen Pembimbing</a
          >
        </li>
        <li>
          <a class="text-green-600 hover:text-blue-600 cursor-pointer"
          href="/roles"
            >Manajemen Pengguna</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
